* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
#root {
    height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
}

:root[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #f0f0f0;
}


